<!DOCTYPE html>
<html>
<title>Loan Default Prediction</title>
<body bgcolor="SkyBlue" style="background-image:url(./static/03.jpg)">
<div align="center">

<img src="{{ url_for('static', filename='not_default.png') }}" width="400" height="400">

    <p style="font-size:200%;font-family:courier;"><b>Greetings,</b></p>

    <p style="font-size:200%;font-family:courier;"><b>Customer's credit history shows he / she might,</b></p>
    <font style="font-family:courier;font-size:200%;" color="green"><b>"Not Default"</b></font>
</div>

</body>
</html>